<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jixuan.project.mapper.MsgMapper">

    <resultMap id="BaseResultMap" type="com.jixuan.project.model.entity.Msg">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="custId" column="custId" jdbcType="BIGINT"/>
            <result property="msgContent" column="msgContent" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,custId,msgContent,
        createTime,updateTime,isDelete
    </sql>
</mapper>
